.header {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
  clip-path: polygon(0 0, 100% 0, 100% 95vh, 0 100%);
  display: grid;
  grid-template-rows: auto 1fr;

  &__logo {
    color: $color-grey-dark;
    font-size: 6rem;
    position: absolute;
    top: 3rem;
    left: 3rem;
    text-shadow: 0 1rem 1rem rgba($color-black, 0.3);
  }
  &__wrapper {
    @include center-block;
    justify-content: space-evenly;
    margin-top: -3rem;
  }

  &__banner {
    display: grid;
    justify-items: center;
    row-gap: 4rem;
  }

  &__heading {
    font-size: 10rem;
    text-transform: uppercase;
    font-weight: 300;
  }
  &__quote {
    font-size: 3rem;
  }
  &__author {
    font-size: 2rem;
  }
  &__btn {
    font-size: 2rem;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 1.5rem;
    display: block;
    background-color: $color-grey-dark;
    color: $color-primary;
    padding: 2rem 4rem;
    border: none;
    cursor: pointer;
    border-radius: 3px;
    transition: all 0.5s;
    clip-path: polygon(50% 0%, 81% 5%, 100% 0, 100% 100%, 80% 95%, 50% 100%, 20% 95%, 0 100%, 0 0, 23% 5%);

    &:hover {
      clip-path: polygon(40% 15%, 77% 15%, 100% 10%, 100% 90%, 75% 85%, 40% 85%, 30% 100%, 0 50%, 0 50%, 30% 0);
      padding-right: 2rem;
    }
  }

  &__background {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;

    & > img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      object-fit: cover;
      object-position: center;
      transition: opacity 2s;
      opacity: 0;

      &.show {
        opacity: 1;
        transition: opacity 2s 0.3s;
      }
    }
  }
  //IPHONE DISPLAY
  &__iphone-container {
    display: grid;
    row-gap: 2rem;
    justify-items: center;
    perspective: 150rem;
  }
  &__iphone {
    position: relative;
    width: 19vw;
    height: 31vw;
    transform-style: preserve-3d;
    transform: rotateY(60deg);
    transition: all 0.3s;

    &--front,
    &--back {
      width: 100%;
      height: 100%;
      padding: 3rem;
      background-color: #ddd;
      position: absolute;
      top: 0;
      left: 0;
      transform-style: preserve-3d;
      box-shadow: inset 1px 1px 1px #ddd, -1px -1px 1px #ddd;
    }

    &--front {
      transform: translateZ(3rem);

      img {
        width: 100%;
      }
      // left - right side
      &::before,
      &::after {
        content: '';
        height: 100%;
        width: 6rem;
        display: block;
        background-color: #c7c7c7;
        position: absolute;
        top: 0;
      }
      &::before {
        left: 0;
        transform-origin: top left;
        transform: rotateY(90deg);
      }
      &::after {
        transform-origin: top right;
        transform: rotateY(-90deg);

        right: 0;
      }
    }
    &--back {
      @include center-block;
      transform: translateZ(-3rem) rotateY(180deg);
      z-index: -2;

      & i {
        text-shadow: 1px 4px 6px #def, 0 0 0 #000, 1px 4px 6px #def;
        font-size: 10rem;
        color: $color-grey-dark;
      }
      // Top and bottom sides
      &::after,
      &::before {
        content: '';
        width: 100%;
        height: 6rem;
        background-color: #c7c7c7;
        position: absolute;
      }

      &::before {
        top: 0;
        transform-origin: top;
        transform: rotateX(-90deg);
      }
      &::after {
        bottom: 0;
        transform-origin: bottom;
        transform: rotateX(90deg);
      }
    }
  }
}

.nav {
  width: 100%;
  padding: 2rem;
  text-align: right;
  padding-right: 10vw;

  &__link {
    color: $color-grey-light;
    font-size: 2.5rem;
    margin-right: 2.5rem;
    transition: all 0.3s;
    display: inline-block;

    &:hover {
      color: $color-grey-dark;
      transform: scale(1.1);
    }
  }
}

.btn {
  padding: 1rem 2rem;
}
input[type='range'] {
  width: 200%;
}
